<!DOCTYPE html>
<html>

<head>
    <title>LOGIN Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="/static/manifest.json">

</head>

<body>
<div>
    <h1>Login</h1>
    <form id="loginForm">
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
